<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>

<!--
Урок 23 Форма для редактирования человека этап 1

Эта форма похожа на создание нового человека,
можно скопировать форму оттуда и отредактировать

Thymeleaf метод - его нет в HTML 5
Мы его сможем прочитать на стороне Spring
с помощью фильтра
th:method="PATCH"

---

(?)
В методе контроллера edit мы получаем id
из GET запроса.
По этому id находим пользователя
засовываем его в модель person
которую отправим на форму (предсавление) edit

В этом представлении мы отправляем
на контроллер
th:action="@{/people/{id}.... (это другой patch контоллер)
id, который берем из модели person
.... (id=${person.getId()})}

---
Мы используем объект-модель person
th:object="${person}

чтобы взять у него поле name
чтобы оно было не пустое при редактировании
th:field="*{name}" id="name">

Далее переходим ко второму этапу
и создать контролер, который принимает
данные нашей формы - метод update()

Проверка работы:
http://localhost:8080/people/2/edit

---

При первом запуске мы получаем ошибку 405
- Method Not Allowed
эта ошибка возникает потому, что мы пока не обрабатываем
на стороне спринга скрытое поле
Так как на стороне спринга нет обработки Post
(а есть обработка Patch) - фильтр пока не работает

После настройки фильтра в уроке
все заработало

-->