<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p>я страница show из папки people controller people</p>
<p th:text="${person.getName()}">value</p>
<p th:text="${person.getId()}">value</p>
<p th:text="${person.getEmail()}">value</p>
<p th:text="${person.getAddress()}">value</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>

<!--
В контроллере PeopleController
мы берем метод show
в Model мы сделали ключ person
который содержит пользователя с нужным id
Выводим его параметры

---

Урок 23
Добавляем кнопку для редактирования человека
Edit

Добавляем кнопку удаления человека
value="Delete"
-->